{% extends 'base.html' %}

{% block content %}

<form method="POST">
    {% csrf_token %}
  <div class="form-group">
    {{ form.as_p }}
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}