{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if object_list %}
        <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Item</th>
              <th scope="col">Status</th>
              <th scope="col">Description</th>
              <th scope="col">Operations</th>
            </tr>
          </thead>
          <tbody>
                {% for things in object_list %}
                    {% if things.completed %}
                    <tr class="table-secondary">
                        <th scope="row">{{ things.id }}</th>
                        <td>{{ things.item }}</td>
                        <td>Resolved</td>
                        <td>{{ things.description }}</td>
                        <td>
                            <a href="{% url 'todo-update' things.id %}"><i class="fas fa-pen"></i></a> |
                            <a href="{% url 'todo-delete' things.id %}"><i class="fas fa-trash"></i></a> |
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                        <th scope="row">{{ things.id }}</th>
                        <td>{{ things.item }}</td>
                        <td><a href="{% url 'mark-homework' things.id %}">To resolve</a></td>
                        <td>{{ things.description }}</td>
                        <td>
                            <a href="{% url 'todo-update' things.id %}"><i class="fas fa-pen"></i></a> |
                            <a href="{% url 'todo-delete' things.id %}"><i class="fas fa-trash"></i></a> |
                        </td>
                    </tr>
                    {% endif %}

                {% endfor %}
          </tbody>
        </table>
    {% endif %}

{% endblock %}