{% extends 'base.html' %}

{% block content %}
   <h1>Desea realmente eliminar este item?</h1>
    <form method="POST">
        {% csrf_token %}
      <button type="submit">Confirmar</button>
    </form>
{% endblock %}
