{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h2>Sign up</h2></div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}